<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.inatel.icc.gigasecurity.gigamonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />


    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Giga">
        <activity
            android:name=".activities.DeviceFormActivity"
            android:label="@string/title_activity_form"
            android:parentActivityName=".activities.DeviceListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceSearchListActivity"
            android:label="@string/title_search_list"
            android:parentActivityName=".activities.DeviceFormActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DeviceFormActivity" />
        </activity>
        <activity android:name=".activities.DevicesGridActivity" />
        <activity
            android:name=".activities.DeviceMonitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.ConfigMenuActivity"
            android:label="@string/title_activity_config_list" />
        <activity
            android:name=".config.wifi.WifiConfigActivity"
            android:label="@string/title_activity_wifi_config" />
        <activity
            android:name=".config.general.GeneralConfigActivity"
            android:label="@string/title_activity_general_config" />
        <activity
            android:name=".config.ethernet.EthernetConfigActivity"
            android:label="@string/title_activity_ethernet_config"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.ddns.DDNSConfigActivity"
            android:label="@string/title_activity_ddnsconfig" />
        <activity
            android:name=".config.dns.DNSConfigActivity"
            android:label="@string/title_activity_dns_config" />
        <activity
            android:name=".config.upnp.UpnpConfigActivity"
            android:label="@string/title_activity_upnp_config" />
        <activity
            android:name=".activities.IntercomTestActivity"
            android:label="@string/title_activity_bidirectional_talk_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlarmTestActivity"
            android:label="@string/title_activity_alarm_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlarmOptionsActivity"
            android:label="@string/title_activity_alarm_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlarmInActivity"
            android:label="@string/title_activity_alarm_in"
            android:parentActivityName=".activities.AlarmOptionsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.AlarmOptionsActivity" />
        </activity>
        <activity
            android:name=".activities.AlarmOutActivity"
            android:label="@string/title_activity_alarm_out"
            android:parentActivityName=".activities.AlarmOptionsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.AlarmOptionsActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceActivity"
            android:label="@string/title_activity_device"
            android:parentActivityName=".activities.DeviceListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.DevicePlaybackActivity"
            android:label="@string/title_activity_device_playback"
            android:parentActivityName=".activities.DeviceActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.DeviceActivity" />
        </activity>
        <activity
            android:name=".activities.DevicePlaybackVideoActivity"
            android:label="@string/title_activity_device_playback_video"
            android:parentActivityName=".activities.DevicePlaybackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.DevicePlaybackActivity" />
        </activity>
        <activity
            android:name=".config.wifi.WifiSearchActivity"
            android:label="@string/title_activity_wifi_search"
            android:parentActivityName=".config.wifi.WifiConfigActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.config.wifi.WifiConfigActivity" />
        </activity>
        <activity
            android:name=".config.dhcp.DHCPConfigActivity"
            android:label="@string/title_activity_dhcp"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".config.ConfigMenuActivity" />
        </activity>
        <activity
            android:name=".config.cloud.CloudConfigActivity"
            android:label="@string/title_activity_cloud_config"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".config.ConfigMenuActivity" />
        </activity>
        <activity
            android:name=".config.password.PasswordConfigActivity"
            android:label="@string/title_activity_password_config"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".config.ConfigMenuActivity" />
        </activity>
        <activity
            android:name=".activities.PTZActivity"
            android:label="@string/title_activity_ptz"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DeviceActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceEventsActivity"
            android:label="@string/title_activity_devioce_events"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".config.ConfigMenuActivity" />
        </activity>
        <activity
            android:name=".activities.InitialActivity"
            android:label="@string/title_activity_initial" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_initial"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeviceEditListActivity"
            android:label="@string/title_activity_edit_device_list" />
        <activity
            android:name=".activities.DeviceConfigActivity"
            android:label="@string/title_activity_device_config" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MediaActivity"
            android:label="@string/title_activity_media" />
        <activity
            android:name=".activities.DeviceRemoteControlActivity"
            android:label="@string/title_activity_device_remote_control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeviceChnZoom"
            android:label="@string/title_activity_device_chn_zoom" />
        <activity
            android:name=".activities.DeviceListActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_device_list3"/>
        <activity
            android:name=".activities.MyTimelineActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_timeline"/>
    </application>

</manifest>
