<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.inatel.icc.gigasecurity.gigamonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Giga">
        <receiver android:name=".core.ConnectionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.DeviceFormActivity"
            android:label="@string/title_activity_form"
            android:parentActivityName=".activities.DeviceListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceSearchListActivity"
            android:label="@string/title_search_list"
            android:parentActivityName=".activities.DeviceFormActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.DeviceFormActivity" />
        </activity>
        <activity
            android:name=".config.ConfigMenuActivity"
            android:label="@string/title_activity_config_list" />
        <activity
            android:name=".config.general.GeneralConfigActivity"
            android:label="@string/title_activity_general_config" />
        <activity
            android:name=".config.ethernet.EthernetConfigActivity"
            android:label="@string/title_activity_ethernet_config"
            android:screenOrientation="portrait" />
        <activity
            android:name=".config.ddns.DDNSConfigActivity"
            android:label="@string/title_activity_ddnsconfig" />
        <activity
            android:name=".config.dns.DNSConfigActivity"
            android:label="@string/title_activity_dns_config" />
        <activity
            android:name=".config.upnp.UpnpConfigActivity"
            android:label="@string/title_activity_upnp_config" />
        <activity
            android:name=".activities.DevicePlaybackActivity"
            android:label="@string/title_activity_device_playback"
            android:parentActivityName=".activities.DeviceListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.DeviceListActivity" />
        </activity>
        <activity
            android:name=".activities.DevicePlaybackVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_device_playback_video"
            android:parentActivityName=".activities.DevicePlaybackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.inatel.icc.gigasecurity.gigamonitor.activities.DevicePlaybackActivity" />
        </activity>
        <activity
            android:name=".config.password.PasswordConfigActivity"
            android:label="@string/title_activity_password_config"
            android:parentActivityName=".config.ConfigMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".config.ConfigMenuActivity" />
        </activity>
        <activity
            android:name=".activities.DeviceChannelOrderActivity"
            android:label="Reordenação de Canais" />
        <activity
            android:name=".activities.FavoriteDeviceChannelOrderActivity"
            android:label="Reordenação de Canais" />
        <activity
            android:name=".activities.InitialActivity"
            android:label="@string/title_activity_initial" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_initial"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeviceEditListActivity"
            android:label="@string/title_activity_edit_device_list" />
        <activity
            android:name=".activities.DeviceConfigActivity"
            android:label="@string/title_activity_device_config" />
        <activity
            android:name=".activities.MediaVideoActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".config.encode.EncodeActivity"
            android:label="@string/cameras" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MediaActivity"
            android:label="@string/title_activity_media" />
        <activity
            android:name=".activities.DeviceRemoteControlActivity"
            android:label="@string/title_activity_device_remote_control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_device_list3" />
        <activity
            android:name=".activities.FavoritesDevicesListActivity"
            android:label="@string/title_activity_fav_devices" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0c6acb0e22a28d01ae5f8c1cd9fe9e25e0bc570e" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <activity
            android:name=".config.about.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".config.time.TimeConfigActivity"
            android:label="@string/clock" />
        <activity
            android:name=".config.ConfigMenuNetworkActivity"
            android:label="@string/title_activity_network_config_menu"></activity>
    </application>

</manifest>